.talent-match-ai {
  &__header {
    background-color: var(--indigo);
    padding: 6px 16px;
    color: var(--surface);
    height: 66px;
    font-size: 24px;
    display: flex;
    align-items: center;

    img {
      width: 230px;
    }
  }
}
