<div class="skeleton-placeholder">
  <div class="skeleton-placeholder__body">
    <div class="skeleton-placeholder__body__heading">
      <h3 class="skeleton-placeholder__body__name"></h3>
      <p class="skeleton-placeholder__body__role"></p>
    </div>
    <p class="skeleton-placeholder__body__summary">
      <span></span>
      <span></span>
    </p>
    <div class="skeleton-placeholder__body__skill-list">
      <span class="skeleton-placeholder__body__skill-list__chip"></span>
      <span class="skeleton-placeholder__body__skill-list__chip"></span>
      <span class="skeleton-placeholder__body__skill-list__chip"></span>
      <span class="skeleton-placeholder__body__skill-list__chip"></span>
      <span class="skeleton-placeholder__body__skill-list__chip"></span>
      <span class="skeleton-placeholder__body__skill-list__chip"></span>
    </div>
  </div>
  <div class="skeleton-placeholder__score-wrapper">
    <span class="skeleton-placeholder__score-wrapper__score-tag"></span>
    <div class="skeleton-placeholder__score-wrapper__score-ring"></div>
  </div>
  <div class="skeleton-placeholder__other-details">
    <div class="skeleton-placeholder__other-details__contant">
      <div class="skeleton-placeholder__other-details__contant__item">
        <span></span>
        <div class="skeleton-placeholder__other-details__contant__item__text">
          <span></span>
          <span></span>
        </div>
      </div>
      <span class="skeleton-placeholder__other-details__contant__divider">|</span>
      <div class="skeleton-placeholder__other-details__contant__item">
        <span></span>
        <div class="skeleton-placeholder__other-details__contant__item__text">
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="skeleton-placeholder__other-details__contant__item">
        <span></span>
        <div class="skeleton-placeholder__other-details__contant__item__text">
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="skeleton-placeholder__other-details__contant__item">
        <span></span>
        <div class="skeleton-placeholder__other-details__contant__item__text">
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <div class="skeleton-placeholder__other-details__download">
      <span></span>
      <span></span>
    </div>
  </div>
</div>
